.full-screen-container {
  min-height: 100%; // Full viewport height
  background-color: #424242;
}

form {
  width: 50%;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  border: 2px solid #cccccc;
  border-radius: 10px;
}





