<div class="default-element">
  <div class="content">
    <div class="post-title">Title: {{ post.title }}</div>
    <br>
    <img src="{{getImageUri()}}" alt="Post Image">
    <br>
    <div class="post-username">Username: {{post.username}}</div>
    <br>
    <br>
    <div class="post-description">Description: {{ post.description }}</div>
    <br>
    <div class="counter-controls">
      <button mat-icon-button (click)="decrementCount()">
        <mat-icon>arrow_left</mat-icon>
      </button>
      <span>{{ count }}</span>
      <button mat-icon-button (click)="incrementCount()">
        <mat-icon>arrow_right</mat-icon>
      </button>
    </div>
  </div>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Comments:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="comment" *ngFor="let comment of post.comments">
      {{ comment }}
    </div>
    <div class="createComment">
      <label for="commentArea{{post.id}}">Comment the Post: </label>
      <textarea id="commentArea{{post.id}}" name="commentArea" [(ngModel)]="str"></textarea>
      <br>
      <button mat-raised-button type="submit" (click)="saveComment()">create</button>
    </div>
  </mat-expansion-panel>
</div>
