<div class="full-screen-container">
  <mat-card class="content-card">
    <div class="text-content">
      <mat-card-title class="title">Share and engage with global content!</mat-card-title>
      <mat-card-content>
        <p class="catchphrase">Picture Perfect Moments, Endless Connections – Where Every Image Tells a Story and Every Comment Paints a Conversation! Join the Visual Symphony!</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" [routerLink]="['/']">
          Register Now
        </button>
      </mat-card-actions>
    </div>
    <div class="image-content">
      <img src="./../../assets/bg.png" alt="" class="img"/>
    </div>
  </mat-card>
</div>
